.main 
{
    background-image: url('../../images/Group 39578largebg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
}

.lnmlogo{
    width:175vh;
    height: 35px;
    background-image: url('../../images/Group 48logo_lnm1.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}

.heading 
{
    color: white;
    font-weight: bold;
    font-size: 3rem;
}


.container1 
{
    width: 80%;
    height: 70vh;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image 
{
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background-color: white;
    /* background-image: url('../../../public/images/image_3.png'); */
}

.content 
{
    color: white;
    width: 100vh;
    height: 60vh;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 3px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2
{
    width: 80%;
    min-height: 90vh;
    height: auto;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDiv 
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

