.main 
{
    background-image: url('../../images/Group 39578largebg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
}

.lnmlogo{
    width:175vh;
    height: 35px;
    background-image: url('../../images/Group 48logo_lnm1.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}